// Calculates a = x*y
// a is a local variable
// x & y are static variables

// Put your code here.

push static 0
pop temp 0
push static 1
pop temp 1
push constant 0
pop local 0

push temp 0
push constant 0
eq
if-goto ZERO

push temp 1
push constant 0
eq
if-goto ZERO

push temp 1
push constant 0
lt
if-goto NEG

push temp 0
push constant 0
lt
if-goto LOOP

push static 1
push static 0
gt
if-goto SWAP
goto LOOP

label SWAP
push static 1
pop temp 0
push static 0
pop temp 1
push constant 0
pop local 0
goto LOOP

label LOOP
push temp 0
push local 0
add
pop local 0
push temp 1
push constant 1
sub
pop temp 1
push constant 0
push temp 1
eq 
not
if-goto LOOP
goto END


label NEG
push temp 0
push constant 0
lt
if-goto NEG2
push temp 1
neg 
pop temp 1
goto LOOP1

label LOOP1
push local 0
push temp 1
add
pop local 0
push temp 0
push constant 1
sub
pop temp 0
push constant 0
push temp 0
eq 
not
if-goto LOOP1

push local 0
neg
pop local 0
goto END

label NEG2
push temp 0
neg
pop temp 0
push temp 1
neg
pop temp 1
goto LOOP

label ZERO
push constant 0
pop local 0
goto END

label END
goto END


