// Calculates y = |x|
// x & y are static variables

    push static 0
    push constant 0
    lt
    if-goto NEG_OUT
    push static 0
    pop static 1
    goto END

label NEG_OUT
    push static 0
    neg
    pop static 1
    goto END
label END
    goto END